# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/dataSources.local.xml
.idea/workspace.xml
MyLog/logFile.2019-02-18.log
MyLog/logFile.2019-05-02.log
MyLog/logFile.2019-05-03.log
MyLog/logFile.2019-06-14.log
MyLog/logFile.2019-06-17.log
MyLog/logFile.2019-09-14.log
src/main/webapp/resources/uploadfile/1.txt
target/
